
.jumbotron {
    /* color: rgb(240,240,240); */
    height: calc(100vh / 3);
    display: flex;
    align-items: center;
}
.jumbotron h1{
    font-size: 10vh;
    text-shadow: darkslateblue 5px 4px;
    font-weight: bold;
}

.banner-img-background{
    background-image: url('./../images/hotel-habitacion.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
}

.bg-darkgrey{
    background-color: rgb(20,40,50);
}

.carousel-inner div div{
    min-height: 240px;
    height: 60vh;
    max-height: 50vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item .carousel-caption{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
}
.carousel-item .carousel-caption *{
    border-radius: 10px;
    background-color: rgba(50,20,30,0.8);
    box-shadow: 0px 0px 10px rgba(200,200,200,0.6) inset;
}

.card-hotel {
    display: flex;
    flex: 1 180px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 340px;
    opacity: 0.9;
    /* box-shadow: 0px 0px 2px 0px rgb(50,50,50); */
    transition: box-shadow, transform .2s;
}
.card-hotel:hover{
    opacity: 1;
    position: relative;
    z-index: 3;
    box-shadow: 0px 5px 10px 0px rgb(50,50,50);
    transform: scale(1.05,1.05);
}

.card-header h4{
    /* margin-left: 10px; */
    text-align: center;
}

.card-hotel button{
    width: 100%;
}

#btn-register{
    transition: all .4s;
}
#btn-register:hover{
    transform: scale(1.3,1.3);
}

.link {
    display: block;
    color: grey;
    /* text-align: right; */
}

.text-right {
    text-align: right;
}

table#tabla-destinos-destacados tbody tr td{
    text-align: center;
}

@media screen and (min-width: 900px){
    .card-hotel {
        flex: 1 280px;
    }
}
