#about-info {
  background-color: #e65050;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  color: #78e6a0;
  font-size: 30px;
  border-radius: 10px;
}
.footer {
  background-color: #f0dc64;
}
.footer * {
  color: #1e1e3c;
}
