@amarillo: rgb(240,220,100);
@rojo: rgb(230,80,80);
@verde: rgb(120,230,160);
@oscuro: rgb(30,30,60);

.parrafo(@fondo, @margen-y, @margen-x, @padding, @text-color, @tamanio-fuente, @redondeado){
  background-color: @fondo;
  margin-top: @margen-y;
  margin-bottom: @margen-y;
  margin-left: @margen-x;
  margin-right: @margen-x;
  padding: @padding;
  color: @text-color;
  font-size: @tamanio-fuente;
  border-radius: @redondeado;
}

#about-info{
  .parrafo(@rojo, 10px, 20px, 10px, @verde, 30px, 10px)
}

.footer{
  background-color: @amarillo;
}
.footer *{
    color: @oscuro;
}
